b,
strong {
  font-weight: 700;
}

.h1,
.h2,
.h3,
.h4,
.h5,
h1,
h2,
h3,
h4,
h5 {
  padding-right: 1vw;

  font-family: font();
  font-weight: 700;
  line-height: 1.1667em;

  letter-spacing: -0.02em;

  color: inherit;
}

.h1,
h1 {
  word-break: break-all;
  font-size: fontSize(h1, mobile);
  font-size: betweenMobile(mobileMinFontSize(h1), mobileMaxFontSize(h1));
  line-height: 1em;
}

.h2,
h2 {
  font-size: fontSize(h2, mobile);
  font-size: betweenMobile(mobileMinFontSize(h2), mobileMaxFontSize(h2));
}

.h3,
h3 {
  font-size: fontSize(h3, mobile);
  font-size: betweenMobile(mobileMinFontSize(h3), mobileMaxFontSize(h3));
  line-height: 1.16em;
}

.h4,
h4 {
  font-size: fontSize(h4, mobile);
  font-size: betweenMobile(mobileMinFontSize(h4), mobileMaxFontSize(h4));
  line-height: 1.16em;
}

.h5,
h5 {
  font-size: fontSize(h5, mobile);
  font-size: betweenMobile(mobileMinFontSize(h5), mobileMaxFontSize(h5));
  line-height: 1.2em;
}

.p,
p {
  font-size: fontSize(p, mobile);
  font-size: betweenMobile(mobileMinFontSize(p), mobileMaxFontSize(p));
  line-height: 1.6em;

  &.large {
    font-size: fontSize(p, mobile) * 1.5;
    font-size: betweenMobile(
      mobileMinFontSize(p) * 1.5,
      mobileMaxFontSize(p) * 1.5
    );
  }
}

@include media(tabletMin) {
  .h1,
  h1 {
    font-size: fontSize(h1, tablet);
    font-size: betweenTablet(tabletMinFontSize(h1), tabletMaxFontSize(h1));
  }

  .h2,
  h2 {
    font-size: fontSize(h2, tablet);
    font-size: betweenTablet(tabletMinFontSize(h2), tabletMaxFontSize(h2));
    line-height: 1.171em;
  }
  .h3,
  h3 {
    font-size: fontSize(h3, tablet);
    font-size: betweenTablet(tabletMinFontSize(h3), tabletMaxFontSize(h3));
    line-height: 1.164em;
  }

  .h4,
  h4 {
    font-size: fontSize(h4, tablet);
    font-size: betweenTablet(tabletMinFontSize(h4), tabletMaxFontSize(h4));
    line-height: 1.167em;
  }

  .h5,
  h5 {
    font-size: fontSize(h5, tablet);
    font-size: betweenTablet(tabletMinFontSize(h5), tabletMaxFontSize(h5));
  }

  .p,
  p {
    font-size: fontSize(p, tablet);
    font-size: betweenTablet(tabletMinFontSize(p), tabletMaxFontSize(p));

    &.large {
      font-size: fontSize(p, tablet) * 1.5;
      font-size: betweenTablet(
        tabletMinFontSize(p) * 1.5,
        tabletMaxFontSize(p) * 1.5
      );
    }
  }
}

@include media(desktopMin) {
  .h1,
  h1 {
    font-size: fontSize(h1, desktop);
    font-size: betweenDesktop(desktopMinFontSize(h1), desktopMaxFontSize(h1));
  }

  .h2,
  h2 {
    font-size: fontSize(h2, desktop);
    font-size: betweenDesktop(desktopMinFontSize(h2), desktopMaxFontSize(h2));
    line-height: 1.171em;
  }
  .h3,
  h3 {
    font-size: fontSize(h3, desktop);
    font-size: betweenDesktop(desktopMinFontSize(h3), desktopMaxFontSize(h3));
    line-height: 1.164em;
  }

  .h4,
  h4 {
    font-size: fontSize(h4, desktop);
    font-size: betweenDesktop(desktopMinFontSize(h4), desktopMaxFontSize(h4));
    line-height: 1.167em;
  }

  .h5,
  h5 {
    font-size: fontSize(h5, desktop);
    font-size: betweenDesktop(desktopMinFontSize(h5), desktopMaxFontSize(h5));
  }

  .p,
  p {
    font-size: fontSize(p, desktop);
    font-size: betweenDesktop(desktopMinFontSize(p), desktopMaxFontSize(p));

    &.large {
      font-size: fontSize(p, desktop) * 1.5;
      font-size: betweenDesktop(
        desktopMinFontSize(p) * 1.5,
        desktopMaxFontSize(p) * 1.5
      );
    }
  }
}
