@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700');

@import "includes/index";
@import "~bootstrap/scss/reboot";
@import '~bootstrap/scss/utilities/flex';

@import "grid";
@import "typography";

html, body {
  width: 100vw;
  min-height: 100vh;

  margin: 0;
  padding: 0 0;

  font-family: font();

  background-color: white;
  color: color(grayDark);

  transition: background-color 250ms;

  ::selection {
    color: color(grayLightbg);
    background-color: color(awards);
  }

  hr {
    border: none;
    outline: none;
    background: color(awards);

    display: block;
    margin: 0 auto $gutter*2;
    width: 100%;
    height: $gutter/4;

    border-radius: $gutter;
  }

  a {
    color: color(awards);

    transition: color 250ms;

    &:hover, &:active {
      color: color(awards, dark);
    }
  }
}
